* {
    font-family: 'Georgia', Times, 'Times New Roman', serif;

}

html {
    position:relative; 
}

section {
    margin: 70px auto; 
    padding: 5px;
}

.navbar-default .navbar-brand {
    /* DOES NOT WORK */
    color:white;
    background-color: #4aaaa5;
    margin: 0; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px; 
    font-weight: bold; 
}

.navbar-default .navbar-brand:hover {
    background-color: #4aaaa5;
    color:white;
}

body {
    background-image: url("images/cork-wallet.png");
    color: #777777;
}

main {
    border: 1px solid #777777;
    padding: 0 20px 10px 0; 
    border-radius: 10px; 
    background-color: #ffffff;
}

h2 {
    color:#4aaaa5;
}

ul li:hover {
    background-color: #94d6d3;
    color: white; /*Not working?*/
}

.img-thumbnail {
    margin: 0 0 10px 0; 
    height: 240px;
    width: 200px;
    display: block; 
    margin: 0 auto; 
    margin-bottom: 10px; 
}

#about_text {

}

/* SIDEBAR PANEL */
aside {
    margin: 10px 0; 
    width: 380px; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px; 

}

.panel {
    border: 1px solid #777777;
    border-radius: 5px; 
    background-color: #ffffff;
}

.panel-title {
    font-size: 30px;
    color:#4aaaa5;
    text-align:center; 
}

.connect_img {
    height: 50px;
    width: 50px;
    margin: 10px 4%;
    border-radius: 5px;
    margin-left: 8%;

    /* margin-left: auto;
    margin-right: auto; */
}

/* FOOTER */
#footer {
    background-color: #666666;
    color: white; 
    opacity: .8; 
    padding: 8px 0 2px 0;
    border-style: solid hidden hidden hidden; 
    border-color: #4aaaa5;
    border-width: 5px;  
    text-align: center; 
}



/* PORTFOLIO PAGE */
.portfolio_img {
    height: 178px;
    width: 178px;
    z-index: 1;
}

.portfolio_banner {
    height: 40px; 
    width: 180px;
    /* opacity: .9;  */
    display: block; 
    padding: 0px 0 0px 0;
    background-color: #4aaaa5;
    color: white; 
    font-size: 18px;
    line-height: 2; 
    text-align: center; 
    z-index: 2;
    position: absolute; 
    bottom: 15px; 
}

#portfolio_box {
    height: 180px;
    width: 180px;
    float: left; 
    position: relative; 
    bottom: -10px; 
    box-shadow: 5px 5px 10px #4aaaa5;
    margin: 20px 10px 20px 20px; 
}

/* CONTACT PAGE  */
button[type="submit"] {
    background-color: #4aaaa5;
    color: white; 
}

button[type="submit"]:hover {
    background-color: #267773;
    color: white; 
}
